/**
---------------------------------------------------------------
 * Table of Contents
 * 
 * 1.0 - Reset & General
 * 2.0 - Header
 * 3.0 - Main Content
 * 4.0 - Footer
 * 5.0 - Media Queries
 *
---------------------------------------------------------------
**/
/**
---------------------------------------------------------------
 * 1.0 - Reset & General
---------------------------------------------------------------
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:focus {
  outline: 0;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
  width: 100%;
}

.clear:after, .content-container:after, header .logo:after, header nav ul.main-nav:after, main ul.contact-list > li:after, main.single-contact .contact-info .row:after, main.single-contact .contact-info .actions:after, main.single-contact .contact-preview:after, main.single-contact.edit .contact-info:after {
  display: block;
  clear: both;
  content: "";
}

body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #232323;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1;
}

h2 {
  font-size: 32px;
  color: #e24d33;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 10px;
}

p {
  padding-bottom: 20px;
  font-size: 15px;
}

.content-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

a {
  color: #e24d33;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
a:hover {
  color: #232323;
}
a.generic-btn {
  text-decoration: none;
}

header,
nav,
main,
section,
article,
aside,
footer {
  display: block;
}

button.generic-btn,
a.generic-btn {
  background-color: #e24d33;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  padding: 15px 55px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}
button.generic-btn:hover,
a.generic-btn:hover {
  background-color: rgba(226, 77, 51, 0.9);
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
button.generic-btn {
  border: 0;
}

/**
---------------------------------------------------------------
 * 2.0 - Header
---------------------------------------------------------------
**/
/**
---------------------------------------------------------------
 * 2.0 - Header
---------------------------------------------------------------
**/
header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.03);
}
header .logo {
  float: left;
  margin-top: 22px;
}
header .logo h1 {
  float: left;
  color: #e24d33;
  font-size: 36px;
}
header .logo h1 a {
  display: block;
  line-height: 1;
  text-decoration: none;
}
header .logo .fa {
  float: left;
  margin-right: 12px;
  color: #c3c3c3;
  font-size: 36px;
  line-height: 1;
}
header nav {
  float: right;
  margin-top: 30px;
}
header nav .hamburger-icon {
  display: none;
}
header nav ul.main-nav {
  list-style-type: none;
}
header nav ul.main-nav li {
  float: left;
  padding-right: 30px;
}
header nav ul.main-nav li a {
  font-size: 17px;
  line-height: 1;
  font-weight: 300;
  color: #232323;
  text-decoration: none;
}
header nav ul.main-nav li a:hover, header nav ul.main-nav li a.active {
  color: #e24d33;
  text-decoration: underline;
}
header nav ul.main-nav li:last-child {
  padding-right: 0;
}

/**
---------------------------------------------------------------
 * 3.0 - Main Content
---------------------------------------------------------------
**/
/**
---------------------------------------------------------------
 * 3.0 - Main
---------------------------------------------------------------
**/
main {
  min-height: 400px;
}
main ul.contact-list {
  list-style-type: none;
}
main ul.contact-list > li {
  padding: 35px 20px;
}
main ul.contact-list > li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}
main ul.contact-list > li .icon {
  float: left;
  text-align: center;
}
main ul.contact-list > li .icon .fa {
  color: #c3c3c3;
  font-size: 36px;
  line-height: 1;
}
main ul.contact-list > li .icon .vip {
  display: block;
  color: #e24d33;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}
main ul.contact-list > li .address {
  float: left;
  padding-left: 25px;
}
main ul.contact-list > li .address ul {
  list-style-type: none;
  font-weight: 300;
}
main ul.contact-list > li .address ul li {
  font-size: 20px;
  line-height: 1.3;
}
main ul.contact-list > li .address ul li:first-child {
  color: #e24d33;
  font-size: 24px;
}
main ul.contact-list > li .edit {
  float: right;
}
main ul.contact-list > li .edit a.generic-btn {
  font-size: 18px;
  padding: 10px 30px;
}
main .empty {
  font-size: 22px;
  font-weight: 300;
}
main.home ul.home-nav {
  list-style-type: none;
  text-align: center;
  padding: 100px 0;
}
main.home ul.home-nav li {
  display: inline-block;
  line-height: 52px;
  font-size: 22px;
  font-weight: 300;
}
main.home ul.home-nav li:nth-child(2) {
  padding: 0 50px;
}
main.home .vip-contacts {
  padding-bottom: 80px;
}
main.home .vip-contacts .empty {
  padding: 40px 0 20px 0;
}
main.contacts {
  padding: 60px 0;
}
main.contacts .empty {
  padding: 40px 0 20px 0;
}
main.single-contact {
  padding: 60px 0;
}
main.single-contact h2 {
  margin-bottom: 40px;
}
main.single-contact .confirmation {
  background-color: #d4ffe9;
  border: 1px solid #80d4a9;
  font-size: 18px;
  font-weight: 300;
  padding: 15px 20px;
  margin-bottom: 35px;
}
main.single-contact .contact-info {
  float: left;
}
main.single-contact .contact-info .row {
  margin-bottom: 20px;
}
main.single-contact .contact-info .row label {
  display: block;
  float: left;
  width: 100px;
  font-size: 20px;
  line-height: 37px;
  font-weight: 300;
}
main.single-contact .contact-info .row input[type="text"],
main.single-contact .contact-info .row input[type="email"] {
  width: 360px;
  float: right;
  background-color: #f8f8f8;
  border: 1px solid #dcdcdc;
  height: 37px;
  padding: 0 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
main.single-contact .contact-info .row.vip {
  margin-bottom: 30px;
}
main.single-contact .contact-info .row.vip label {
  float: right;
  width: 360px;
}
main.single-contact .contact-info .row.vip label span {
  padding-left: 10px;
}
main.single-contact .contact-info .actions button.generic-btn {
  float: right;
  padding: 15px 40px;
}
main.single-contact .contact-preview {
  float: left;
  margin-left: 130px;
}
main.single-contact .contact-preview .icon {
  float: left;
  text-align: center;
}
main.single-contact .contact-preview .icon .fa {
  color: #c3c3c3;
  font-size: 36px;
  line-height: 1;
}
main.single-contact .contact-preview .icon .vip {
  display: block;
  color: #e24d33;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}
main.single-contact .contact-preview .address {
  float: left;
  padding-left: 25px;
}
main.single-contact .contact-preview .address ul {
  list-style-type: none;
  font-weight: 300;
}
main.single-contact .contact-preview .address ul li {
  font-size: 22px;
  line-height: 1.3;
}
main.single-contact .contact-preview .address ul li:first-child {
  color: #e24d33;
  font-size: 28px;
}
main.single-contact.edit .contact-info .actions button.generic-btn {
  float: left;
  margin-left: 100px;
}
main.single-contact.edit .contact-info .actions .delete {
  float: right;
  margin-top: 14px;
}
main.single-contact.edit .contact-info .actions .delete a {
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
  text-decoration: underline;
  cursor: pointer;
}
main.no-page {
  text-align: center;
}
main.no-page h1 {
  color: #e24d33;
  font-size: 48px;
  line-height: 1;
  padding-top: 120px;
}

/**
---------------------------------------------------------------
 * 4.0 - Footer
---------------------------------------------------------------
**/
/**
---------------------------------------------------------------
 * 4.0 - Footer
---------------------------------------------------------------
**/
footer {
  background-color: rgba(0, 0, 0, 0.03);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}
footer .note {
  font-size: 18px;
  font-weight: 300;
}

/**

---------------------------------------------------------------
 * 5.0 - Media Queries
 *
 * 1020 pixels (max)
---------------------------------------------------------------
**/
@media screen and (max-width: 1020px) {
  .content-container {
    max-width: 768px;
  }

  main.single-contact .contact-info .row input[type="text"],
  main.single-contact .contact-info .row input[type="email"] {
    width: 270px;
  }
  main.single-contact .contact-info .row.vip label {
    width: 270px;
  }
  main.single-contact .contact-preview {
    margin-left: 60px;
    word-wrap: break-word;
  }
  main.single-contact .contact-preview .address ul li {
    font-size: 20px;
  }
  main.single-contact .contact-preview .address ul li:first-child {
    font-size: 24px;
  }
}
/**
---------------------------------------------------------------
 * 788 pixels (max)
---------------------------------------------------------------
**/
@media screen and (max-width: 788px) {
  .content-container {
    max-width: 550px;
  }

  button.generic-btn,
  a.generic-btn {
    font-size: 19px;
    padding: 15px 30px;
  }

  h2 {
    font-size: 30px;
  }

  header .logo h1,
  header .logo .fa {
    font-size: 30px;
  }
  header nav {
    margin-top: 22px;
  }
  header nav .hamburger-icon {
    display: block;
    float: right;
  }
  header nav .hamburger-icon .fa {
    font-size: 36px;
    line-height: 1;
  }
  header nav ul.main-nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  header nav ul.main-nav li {
    display: block;
    float: none;
    text-align: center;
    padding-right: 0;
    border-bottom: 1px solid #c3c3c3;
  }
  header nav ul.main-nav li a {
    display: block;
    background-color: #f8f8f8;
    padding: 15px 0;
  }
  header nav.show-mobile-menu ul.main-nav {
    display: block;
  }

  main {
    min-height: 0;
  }
  main.home ul.home-nav {
    padding: 60px 0;
  }
  main.home ul.home-nav li {
    font-size: 19px;
  }
  main.home ul.home-nav li:nth-child(2) {
    padding: 0 25px;
  }
  main.home .vip-contacts {
    padding-bottom: 60px;
  }
  main.no-page h1 {
    font-size: 36px;
    padding: 60px 0;
  }
  main.single-contact .contact-info {
    float: none;
  }
  main.single-contact .contact-info .row input[type="text"],
  main.single-contact .contact-info .row input[type="email"] {
    width: 425px;
  }
  main.single-contact .contact-info .row.vip label {
    width: 425px;
  }
  main.single-contact .contact-preview {
    float: none;
    margin-left: 70px;
    margin-top: 40px;
  }
  main.single-contact.edit .contact-info .actions {
    width: 425px;
    float: right;
  }
  main.single-contact.edit .contact-info .actions button.generic-btn {
    margin-left: 0;
  }
}
/**
---------------------------------------------------------------
 * 570 pixels (max)
---------------------------------------------------------------
**/
@media screen and (max-width: 570px) {
  .content-container {
    max-width: 360px;
  }

  h2 {
    font-size: 26px;
  }

  header {
    height: 70px;
  }
  header .logo h1,
  header .logo .fa {
    font-size: 26px;
  }
  header nav {
    margin-top: 18px;
  }
  header nav .hamburger-icon .fa {
    font-size: 34px;
  }
  header nav ul.main-nav {
    top: 70px;
  }

  main ul.contact-list > li {
    padding-right: 10px;
    padding-left: 10px;
  }
  main ul.contact-list > li .icon {
    width: 20%;
    text-align: left;
  }
  main ul.contact-list > li .edit {
    width: 80%;
    margin-top: 25px;
  }
  main ul.contact-list > li .address {
    width: 80%;
    padding-left: 0;
    word-wrap: break-word;
  }
  main ul.contact-list > li .address ul li {
    font-size: 19px;
  }
  main ul.contact-list > li .address ul li:first-child {
    font-size: 22px;
  }
  main.home ul.home-nav li {
    display: block;
  }
  main.contacts {
    padding: 30px 0;
  }
  main.no-page h1 {
    font-size: 30px;
  }
  main.single-contact {
    padding: 30px 0;
  }
  main.single-contact h2 {
    margin-bottom: 20px;
  }
  main.single-contact .confirmation {
    margin-bottom: 15px;
    font-size: 16px;
  }
  main.single-contact .contact-info .row {
    margin-bottom: 15px;
  }
  main.single-contact .contact-info .row label {
    float: none;
    width: 100%;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 7px;
  }
  main.single-contact .contact-info .row input[type="text"],
  main.single-contact .contact-info .row input[type="email"] {
    float: none;
    width: 100%;
  }
  main.single-contact .contact-info .row.vip label {
    float: none;
    width: 100%;
  }
  main.single-contact .contact-preview {
    margin-left: 0;
  }
  main.single-contact.edit .contact-info .actions {
    width: 100%;
    float: none;
  }
}
/**
---------------------------------------------------------------
 * 380 pixels (max)
---------------------------------------------------------------
**/
@media screen and (max-width: 380px) {
  .content-container {
    padding-right: 10px;
    padding-left: 10px;
  }

  header,
  main,
  footer,
  .content-container {
    min-width: 300px;
  }
}

/*# sourceMappingURL=core.css.map */
